.footer_container{
    width: 100%;
    border-top: 0.5px solid rgba(0,0,0,0.2);
}
.footer_content{
    width: 1080px;
    height: 140px;
    margin: auto;
    display: flex;
}

/* 로고 */
.footer_logo_content{
    width: 120px;
    height: 113px;
    padding-top: 23px;
    display: flex;
    align-items: center;
}
.footer_logo{
    width: 90px;
    height: 90px;
}

/* 블로그, 깃허브 */
.footer_address_container{
    height: 50px;
    padding-top: 20px;
    display: flex;
}
.footer_address_blog_content{
    width: 60px;
}
.footer_address_blog{
    color: rgba(0,0,0,0.3);
    font-weight: bold;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
}
.blog_github_split_content{
    width: 30px;
}
.blog_github_split{
    color: rgba(0,0,0,0.3);
    font-weight: bold;
    font-family: "Noto Sans KR", sans-serif;
}   
.footer_address_github{
    color: rgba(0,0,0,0.3);
    font-weight: bold;
    font-size: 16px;
}

/* 정보 */
.footer_info{
    color: rgba(0,0,0,0.4);
    font-size: 15px;
    font-family: "Noto Sans KR", sans-serif;
}