.main_category_container{
    width: 1080px;
    height: 140px;
    margin: 50px auto auto auto;
    background-color: #F9F9F9;
    display: flex;

}

/* prev arrow */
.main_category_slide_prev_content{
    display: flex;
    align-items: center;
    justify-content: center;

}
.main_category_slide_prev{
    width: 45px;
    height: 45px;
    color: rgba(127,127,127,0.3);
    cursor: pointer;
}

/* 정보 */
.main_category_info_wrapper {
    overflow: hidden;
    width: 990px; /* 90px * 11 (보이는 아이템 수) */
    display: flex;
}
.main_category_info_content {
    display: flex;
    transition: transform 1s ease; /* 이동 애니메이션 */
}

/* 정보(사진) */
.main_category_img_content{
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 27px;
    cursor: pointer;
}
.main_category_img{
    width: 56px;
    height: 56px;
    cursor: pointer;
}
/* 정보(이름) */
.main_category_img_name_content{
    cursor: pointer;
}
.main_category_img_on_name{
    text-align: center;
    font-size: 14px;
    color: orange;
    font-family: "Noto Sans KR", sans-serif;
    cursor: pointer;
}
.main_category_img_off_name{
    text-align: center;
    font-size: 14px;
    color: #888;
    font-family: "Noto Sans KR", sans-serif;
    cursor: pointer;
}

/* next arrow */
.main_category_slide_next_content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_category_slide_next{
    width: 45px;
    height: 45px;
    color: rgba(127,127,127,0.3);
    cursor: pointer;
}