.signup_form_container{
}
.signup_form_content{
    width: 1080px;
    margin: auto;
}

/* 제목 */
.signup_form_title_content{
    margin-top: 45px;
    border-bottom: 1px solid #f4f4f4;
}
.signup_form_title{
    width: 105px;
    height: 45px;
    font-size: 25px;
    font-weight: bold;
    color: #003366;
    font-family: "Noto Sans KR", sans-serif;
}
.signup_form_title_serve{
    font-size: 14px;
    color: rgba(0,0,0,0.4);
    font-family: "Noto Sans KR", sans-serif;
}

/* 회원가입 폼 */
.signup_form_info_container{
    width: 880px;
    margin: auto;
}

/* 회원가입 폼(기본정보) */
.signup_form_default_info_container{
    margin-top: 40px;
}
/* 기본정보 (제목) */
.signup_form_default_info_title_content{
    height: 40px;
    border-bottom: 1px solid #f4f4f4;
}
.signup_form_default_info_title{
    font-size: 17px;
    font-weight: 500;
    font-family: "Noto Sans KR", sans-serif;
}

.signup_form_default_info_content{
    height: 50px;
    display: flex;
}
/* 기본정보 (주제) */
.signup_form_default_info_subject_content{
    width: 120px;
    padding-left: 15px;
    font-size: 12px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    display: flex;
    border-bottom: 1px solid #f4f4f4;
}
.signup_form_default_info_subject_icon{
    width: 7px;
    padding-top: 7px;
}
.signup_form_default_info_subject{
    height: 50px;
    display: flex;
    align-items: center;
    color: #5e5e5e;
}
/* 기본정보 (아이디) */
.signup_form_default_info_id_input_container{
    width: 760px;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px 17px;
    display: flex;
}
.signup_form_default_info_id_input_content{
    width: 200px;
}
.signup_form_default_info_id_input{
    width: 200px;
    height: 30px;
    border: 1px solid #dedede;
    padding-left: 10px;
    outline: none;
    font-size: 12px;
    color: #717171;
    font-family: "Noto Sans KR", sans-serif;
}
.signup_form_default_info_id_input_copy_content{
    width: 70px;
    height: 30px;
    background-color: rgba(0,0,0,0.2);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    font-weight: 500;
    font-family: "Noto Sans KR", sans-serif;
    cursor: pointer;
}
.signup_form_default_info_id_input_explain_content{
    margin-left: 5px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #B2B2B2;
    font-family: "Noto Sans KR", sans-serif;
}
/* 기본정보 (비밀번호) */
.signup_form_default_info_pwd_input_container{
    width: 760px;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px 17px;
    display: flex;
}
.signup_form_default_info_pwd_input_content{
    width: 200px;
}
.signup_form_default_info_pwd_input{
    width: 200px;
    height: 30px;
    border: 1px solid #dedede;
    padding-left: 10px;
    outline: none;
    font-size: 12px;
    color: #717171;
    font-family: "Noto Sans KR", sans-serif;
    -webkit-text-security: disc; /* Safari */
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Chrome */
}
.signup_form_default_info_pwd_input_explain_content{
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.signup_form_default_info_pwd_input_explain{
    font-size: 12px;
    color: #B2B2B2;
    font-family: "Noto Sans KR", sans-serif;
}
/* 기본정보 (비밀번호 확인) */
.signup_form_default_info_pwd_check_input_container{
    width: 760px;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px 17px;
    display: flex;
}
.signup_form_default_info_pwd_check_input_content{
    width: 200px;
}
.signup_form_default_info_pwd_check_input{
    width: 200px;
    height: 30px;
    border: 1px solid #dedede;
    padding-left: 10px;
    outline: none;
    font-size: 12px;
    color: #717171;
    font-family: "Noto Sans KR", sans-serif;
    -webkit-text-security: disc; /* Safari */
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Chrome */
}
/* 기본정보 (성명) */
.signup_form_default_info_name_input_container{
    width: 760px;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px 17px;
    display: flex;
}
.signup_form_default_info_name_input_content{
    width: 200px;
}
.signup_form_default_info_name_input{
    width: 200px;
    height: 30px;
    border: 1px solid #dedede;
    padding-left: 10px;
    outline: none;
    font-size: 12px;
    color: #717171;
    font-family: "Noto Sans KR", sans-serif;
}
.signup_form_default_info_name_input_explain_content{
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.signup_form_default_info_name_input_explain{
    font-size: 12px;
    color: #B2B2B2;
    font-family: "Noto Sans KR", sans-serif;
}
/* 기본정보 (휴대전화) */
.signup_form_default_info_phone_input_container{
    width: 760px;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px 17px;
    display: flex;
}
.signup_form_default_info_phone_first_input_content{
    width: 60px;
    height: 30px;
    font-size: 13px;
    border: 1px solid #dedede;
    color: #717171;
    outline: none;
}

.signup_form_default_info_phone_second_input{
    width: 60px;
    height: 30px;
    border: 1px solid #dedede;
    outline: none;
    padding: 0 10px;
    font-size: 12px;
    color: #717171;
}
.signup_form_default_info_phone_third_input{
    width: 60px;
    height: 30px;
    border: 1px solid #dedede;
    outline: none;
    padding: 0 10px;
    font-size: 12px;
    color: #717171;
}
.signup_form_default_info_phone_input_blank_content{
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup_form_default_info_phone_input_blank{
    color: rgba(0,0,0,0.5);
}



/* 회원가입 폼(연령제한) */
.signup_form_age_info_container{
    margin-top: 70px;
}
/* 연령제한(제목) */
.signup_form_age_info_title_content{
    height: 40px;
    border-bottom: 1px solid #f4f4f4;
}
.signup_form_age_info_title{
    font-size: 17px;
    font-weight: 500;
    font-family: "Noto Sans KR", sans-serif;
}
/* 연령제한(동의) */
.signup_form_age_info_agree_container{
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f4f4f4;
}
.signup_form_age_info_agree_check_content{
    height: 20px;
    width: 20px;
    margin-left: 15px;
}
.signup_form_age_info_agree{
    color: #717171;
    font-size: 12px;
    font-family: "Noto Sans KR", sans-serif;
}



/* 회원가입 폼(선택정보) */
.signup_form_select_info_container{
    margin-top: 70px;
}
/* 선택정보(제목) */
.signup_form_select_info_title_content{
    height: 40px;
    border-bottom: 1px solid #f4f4f4;
}
.signup_form_select_info_title{
    font-size: 17px;
    font-weight: 500;
    font-family: "Noto Sans KR", sans-serif;
}
/* 선택정보(주소) */
.signup_form_select_info_address_container{
    width: 880px;
    height: 120px;
    border-bottom: 1px solid #f4f4f4;
    display: flex;
}
.signup_form_select_info_address_subject_content{
    width: 120px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #5e5e5e;
    font-family: "Noto Sans KR", sans-serif;
}
.signup_form_select_info_address_content{
    width: 760px;
    padding: 10px 17px;
}
.signup_form_select_info_address_btn_content{
    display: flex;
}
.signup_form_select_info_address_zonecode{
    width: 150px;
    height: 28px;
    border: 1px solid #dedede;
    outline: none;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    color: #717171;
    padding: 0px 2px 0px 10px;
}
.singup_form_select_info_address_btn{
    width: 70px;
    height: 28px;
    background-color: rgba(0,0,0,0.2);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: "Noto Sans KR", sans-serif;
    margin-left: 10px;
    cursor: pointer;
}
.signup_form_select_info_address{
    width: 550px;
    height: 28px;
    margin-top: 7px;
    border: 1px solid #dedede;
    outline: none;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    color: #717171;
    padding: 0px 2px 0px 10px;
}
.signup_form_select_info_detail_address{
    width: 550px;
    height: 28px;
    margin-top: 7px;
    border: 1px solid #dedede;
    outline: none;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;    
    color: #717171;
    padding: 0px 2px 0px 10px;
}
/* 선택정보(생년월일) */
.signup_form_select_info_birth_container{
    width: 880px;
    height: 50px;
    border-bottom: 1px solid #f4f4f4;
    display: flex;
}
.signup_form_select_info_birth_subject_content{
    width: 120px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #5e5e5e;
    font-family: "Noto Sans KR", sans-serif;
}
.signup_form_select_info_birth_content{
    padding: 10px 17px;
    display: flex;
}
.signup_form_select_info_birth_year_content{
    display: flex;
}
.signup_form_select_info_birth{
    width: 70px;
    height: 30px;
    font-size: 13px;
    border: 1px solid #dedede;
    color: #717171;
    outline: none;
    font-family: "Noto Sans KR", sans-serif;
}
.signup_form_select_info_birth_serve{
    width: 25px;
    font-size: 13px;
    color: #717171;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans KR", sans-serif;
}
/* 선택정보(성별) */
.signup_form_select_info_gender_container{
    width: 880px;
    height: 50px;
    border-bottom: 1px solid #f4f4f4;
    display: flex;
}
.signup_form_select_info_gender_subject_content{
    width: 120px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #5e5e5e;
    font-family: "Noto Sans KR", sans-serif;
}
.signup_form_select_info_gender_content{
    padding: 10px 17px;
    display: flex;
}
.signup_form_select_info_gender_choice_content{
    height: 30px;
    margin-left: 15px;
    margin-right: 3px;
    display: flex;
    align-items: center;
}
.signup_form_select_info_gender_choice_serve{
    height: 30px;
    font-size: 12px;
    color: #5e5e5e;
    display: flex;
    align-items: center;
    font-family: "Noto Sans KR", sans-serif;
}



/* 회원가입 */
.signup_form_btn_container{
    height: 60px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.signup_from_back_btn{
    width: 150px;
    height: 40px;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans KR", sans-serif;
    color: white;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
.signup_form_btn_gap{
    width: 10px;
}
.signup_form_btn{
    width: 150px;
    height: 40px;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans KR", sans-serif;
    color: white;
    background-color: #003366;
    cursor: pointer;
}



/* 기본 padding값 0으로 적용 */
th, td {
    padding: 0;
}