.product_form_title_content{
    width: 1080px;
    margin: 30px auto 20px auto;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #888888;
    display: flex;
    align-items: center;
}
.product_form_content{
    width: 1080px;
    margin: auto;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.product_form_detail_content{
    width: 1080px;
    margin: auto;
}
.product_form_comment_content{
    width: 1080px;
    margin: auto;
}